* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #dcffff;
	padding: 0 10px;
	/*height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1877F2 /*linear-gradient(135deg, #71b7e6, #9b59b6) */;
}

h3 {
	text-align: center;
	color: #0437F2;
}

.container {
	max-width: 500px;
	width: 100%;
	background-color: #FFFDD0;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container .btn-block {
	width: 50%;
	padding: 12px 10px;
	font-size: 15px;
	border: 1px solid black;
	display: inline-block;
	background-color: firebrick;
	color: white;
	cursor: pointer;
	border-radius: 30px;
	outline: none;
	margin-bottom: 40px;
	margin-left: 80px;
}

.container .btn-block:hover {
	background: sandybrown;
}


